/*Pokemon Card Styling*/
.Typography {
    margin: 0;
    padding: 0;
}

.thumbnail {
    height: 50px;
    width: 50px;
}

.pokemon-card {
    border: 25px solid #F5DA16;
    border-radius: 2em;
}

.pokemon-name {
    font-weight: bold;
    float: left;
}

.pokemon-hp {
    display: flex;
    justify-content: flex-end;

}

.hp {
    font-size: small;
    padding-top: 10px;

}

.hp-value {
    display: inline-block;
}

.pokemon-image {
    text-align: center;
    border: 5px solid #F5DA16;

}

.pokemon-image-description {
    text-align: center;
    font-size: small;
    background-color: #F5DA16;
    border: 3px solid #F5DA16;

}

.card-items {
    display: block;
    font-weight: 400;
    margin-top: 18px;

}

.modal-photo {
    height: 220px;
    width: 220x;
    padding: 10px;
}